@use "../abstracts/variables" as var;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-base;
  line-height: var.$line-height-base;
  color: var.$text-color-base;
}

h1,
h2,
h3 {
  margin-bottom: math.div(var.$gutter-base, 2);
  line-height: var.$line-height-small;
  font-weight: var.$font-weight-bold;
}

h1 {
  font-size: var.$heading-size-bigger;

  @media (max-width: 425px) {
    font-size: var.$heading-size-big;
  }
}

h2 {
  text-transform: uppercase;
  font-size: var.$heading-size-small;

  @media (max-width: 425px) {
    font-size: var.$heading-size-tiny;
  }
}

h3 {
  font-size: var.$heading-size-tiny;

  @media (max-width: 425px) {
    font-size: var.$font-size-medium;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: math.div(var.$gutter-base, 3) math.div(var.$gutter-base, 2);
  border: 1px solid var.$background-color-tertiary;
  border-radius: var.$border-radius;
  background-color: var.$background-color-base;
}
