.parent {
  display: flex;
  border: 2px solid black;
  text-align: center;
}

.inner {
  border: 1px solid black;
  flex: 0 1 15%;
}
.inner:first-child {
  background-color: red;
}
.inner:last-child {
  background-color: lightgray;
}

.inner:nth-child(2) {
  background-color: yellow;
}
.h-400 {
  height: 400px;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap .inner,
.no-wrap .inner {
  flex-basis: 40%;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}
